<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKoSFvZ2kiIWHPCr2Yz2H_n5vaPdE1g48</string>
	<key>GCM_SENDER_ID</key>
	<string>905901544331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskApp</string>
	<key>PROJECT_ID</key>
	<string>taskapp-3898c</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-3898c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905901544331:ios:e4ae8d5a8e18fca6b6958e</string>
</dict>
</plist>